<h1>Editing language name list</h1>

<%= render "form", language_name_list: @language_name_list %>

<br>

<div>
  <%= link_to "Show this language name list", @language_name_list %> |
  <%= link_to "Back to language name lists", language_name_lists_path %>
</div>
