<%provide(:title,"Home") %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>
  This is home page of the sample app for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  Sample App
</p>
