<h1>Editing parent job list</h1>

<%= render "form", parent_job_list: @parent_job_list %>

<br>

<div>
  <%= link_to "Show this parent job list", @parent_job_list %> |
  <%= link_to "Back to parent job lists", parent_job_lists_path %>
</div>
