<h1>Editing achievement kategori list</h1>

<%= render "form", achievement_kategori_list: @achievement_kategori_list %>

<br>

<div>
  <%= link_to "Show this achievement kategori list", @achievement_kategori_list %> |
  <%= link_to "Back to achievement kategori lists", achievement_kategori_lists_path %>
</div>
