<h1>Editing parent education list</h1>

<%= render "form", parent_education_list: @parent_education_list %>

<br>

<div>
  <%= link_to "Show this parent education list", @parent_education_list %> |
  <%= link_to "Back to parent education lists", parent_education_lists_path %>
</div>
