<h1>Editing major list</h1>

<%= render "form", major_list: @major_list %>

<br>

<div>
  <%= link_to "Show this major list", @major_list %> |
  <%= link_to "Back to major lists", major_lists_path %>
</div>
