<h1>Editing address kecamatan list</h1>

<%= render "form", address_kecamatan_list: @address_kecamatan_list %>

<br>

<div>
  <%= link_to "Show this address kecamatan list", @address_kecamatan_list %> |
  <%= link_to "Back to address kecamatan lists", address_kecamatan_lists_path %>
</div>
