<h1>Editing language degree list</h1>

<%= render "form", language_degree_list: @language_degree_list %>

<br>

<div>
  <%= link_to "Show this language degree list", @language_degree_list %> |
  <%= link_to "Back to language degree lists", language_degree_lists_path %>
</div>
