<h1>Editing achievement tingkat list</h1>

<%= render "form", achievement_tingkat_list: @achievement_tingkat_list %>

<br>

<div>
  <%= link_to "Show this achievement tingkat list", @achievement_tingkat_list %> |
  <%= link_to "Back to achievement tingkat lists", achievement_tingkat_lists_path %>
</div>
