<h1>New achievement tingkat list</h1>

<%= render "form", achievement_tingkat_list: @achievement_tingkat_list %>

<br>

<div>
  <%= link_to "Back to achievement tingkat lists", achievement_tingkat_lists_path %>
</div>
