<h1>Editing pmdk school list</h1>

<%= render "form", pmdk_school_list: @pmdk_school_list %>

<br>

<div>
  <%= link_to "Show this pmdk school list", @pmdk_school_list %> |
  <%= link_to "Back to pmdk school lists", pmdk_school_lists_path %>
</div>
