<h1>Editing personal gender list</h1>

<%= render "form", personal_gender_list: @personal_gender_list %>

<br>

<div>
  <%= link_to "Show this personal gender list", @personal_gender_list %> |
  <%= link_to "Back to personal gender lists", personal_gender_lists_path %>
</div>
