<h1>New address kabupaten list</h1>

<%= render "form", address_kabupaten_list: @address_kabupaten_list %>

<br>

<div>
  <%= link_to "Back to address kabupaten lists", address_kabupaten_lists_path %>
</div>
