<% provide(:title, 'All users') %>
<h1 class="mb-4">All registered users</h1>
<div class="table-responsive">
  <table class="table table-striped align-middle">
    <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">User Email</th>
      <th scope="col">Created at</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <%= render @users %> <!-- render partial: 'user' -->
    </tbody>
  </table>
  <%= will_paginate %>
</div>