<h1>Editing extra list</h1>

<%= render "form", extra_list: @extra_list %>

<br>

<div>
  <%= link_to "Show this extra list", @extra_list %> |
  <%= link_to "Back to extra lists", extra_lists_path %>
</div>
