<h1>Editing source motivation list</h1>

<%= render "form", source_motivation_list: @source_motivation_list %>

<br>

<div>
  <%= link_to "Show this source motivation list", @source_motivation_list %> |
  <%= link_to "Back to source motivation lists", source_motivation_lists_path %>
</div>
