<h1>Editing high school major</h1>

<%= render "form", high_school_major: @high_school_major %>

<br>

<div>
  <%= link_to "Show this high school major", @high_school_major %> |
  <%= link_to "Back to high school majors", high_school_majors_path %>
</div>
