<h1>Editing source information list</h1>

<%= render "form", source_information_list: @source_information_list %>

<br>

<div>
  <%= link_to "Show this source information list", @source_information_list %> |
  <%= link_to "Back to source information lists", source_information_lists_path %>
</div>
