<h1>New accreditation school list</h1>

<%= render "form", accreditation_school_list: @accreditation_school_list %>

<br>

<div>
  <%= link_to "Back to accreditation school lists", accreditation_school_lists_path %>
</div>
