<h1>Editing organization degree list</h1>

<%= render "form", organization_degree_list: @organization_degree_list %>

<br>

<div>
  <%= link_to "Show this organization degree list", @organization_degree_list %> |
  <%= link_to "Back to organization degree lists", organization_degree_lists_path %>
</div>
