<h1>Editing personal religion list</h1>

<%= render "form", personal_religion_list: @personal_religion_list %>

<br>

<div>
  <%= link_to "Show this personal religion list", @personal_religion_list %> |
  <%= link_to "Back to personal religion lists", personal_religion_lists_path %>
</div>
